@model IEnumerable<Garderie.Models.Employe>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Personne.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Personne.Prenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Poste)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Externe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Personne.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Personne.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poste)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Externe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EmployeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmployeId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>